<h1>Hi {{ currentUser.firstName }}!</h1>
<p>You're logged in with Recipe Book!!</p>
<h3>All Registered Users:</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th>Full Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.username }}</th>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>
        <a
          class="text-danger"
          style="cursor: pointer;"
          (click)="deleteUser(user.id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
