/* You can add global styles to this file, and also import other style files */
.btn {
  margin-right: 2px;
}

img {
  max-height: 400px;
  box-shadow: 0px 0px 10px;
}

.list-group-item {
  margin: 5px;
}
